.frame-378,
.frame-378 * {
  box-sizing: border-box;
}
.frame-378 {
  background: #ffffff;
  padding: 60px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 964px;
  position: relative;
  overflow: hidden;
}
.registro-de-vacunaci-n-campa-a-zona-norte {
  text-align: center;
  position: relative;
}
.registro-de-vacunaci-n-campa-a-zona-norte-span {
  color: #000000;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 64px;
  line-height: 41px;
  font-weight: 700;
}
.registro-de-vacunaci-n-campa-a-zona-norte-span2 {
  color: #79b51b;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 64px;
  line-height: 41px;
  font-weight: 700;
}
.registro-de-vacunaci-n-campa-a-zona-norte-span3 {
  color: #696969;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 24px;
  line-height: 41px;
  font-weight: 700;
}
.frame-379 {
  background: #ffffff;
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 868px;
  position: relative;
  overflow: hidden;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 105px;
  position: relative;
}
.frame-243 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: #303030;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.text-field {
  border-radius: 12px;
  border-style: solid;
  border-color: rgba(102, 102, 102, 0.35);
  border-width: 1px;
  padding: 15px 24px 15px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.inputs {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.bovino {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.frame {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.text-field2 {
  border-radius: 12px;
  border-style: solid;
  border-color: rgba(102, 102, 102, 0.35);
  border-width: 1px;
  padding: 15px 24px 15px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
._40 {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.finca-los-rosales {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.soledad {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.email2 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 105px;
  position: relative;
}
.caribe {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.frame2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.button {
  background: #79b51b;
  border-radius: 32px;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
  overflow: hidden;
}
.frame-276 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.sign-up {
  color: #ffffff;
  text-align: center;
  font-family: "NunitoSans-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame3 {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 59px;
  top: 39px;
  overflow: visible;
  aspect-ratio: 1;
}
